.map-widget {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: #181924;
    border-radius: 10px;
    z-index: 112100;
    width: 300px;
    padding: 15px;
    color: #fff;
    border-top: 3px solid #000066;
}

.map-widget-select {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

select {
    margin-top: 5px;
}